NET POS<0> LOC = G12;
NET POS<1> LOC = F13;
NET POS<2> LOC = H12;
NET POS<3> LOC = G13;
NET POS<4> LOC = H13;
NET POS<5> LOC = K11;
NET POS<6> LOC = J13;
NET POS<7> LOC = K12;

NET CLK LOC = E7;

NET SEG<6> LOC = K13;
NET SEG<5> LOC = L15;
NET SEG<4> LOC = M15;
NET SEG<3> LOC = P15;
NET SEG<2> LOC = P14;
NET SEG<1> LOC = K15;
NET SEG<0> LOC = L14;